<div class='Ais-query' ng-controller='TurbineCtrl'>
<h3 class='Ais-header'>Turbine Rotorbore</h3>
<div>
	<div class='flexbox'>
		<div class='flex1'>&nbsp;</div>
		<div class='Ais-imageF'>
			<img ng-src='{{appPathImg}}/turbine-lprotor.jpg'>
			<div><strong>Large LP Double Flow Rotor</strong></div>
		</div>
		<div class='flex1'>&nbsp;</div>
		<div class='use4big'>
			<div ng-repeat='item in turbineSplash'>
				<h4 class='Ais-header' ng-bind-html="item.feature"></h4>
			</div> <!-- ng-repeat -->
		</div> <!-- use4big -->
		<div class='flex1'>&nbsp;</div>
	</div> <!-- flexbox -->
	<div class='not4big'>
		<div ng-repeat='item in turbineSplash'>
			<h4 class='Ais-header' ng-bind-html="item.feature"></h4>
		</div> <!-- ng-repeat -->
	</div> <!-- not4big -->
</div>
<br/> <!-- ********************************************************************************************** -->
<p>
	<br/>
	<br/> <!-- ********************************************************************************************** -->
	<h5 class='Ais-header'>Automated Inspection Systems Steam Turbine Rotorbore Inspection</h5>
	<p>
	Founded in 1996, the principals of Automated Inspection Systems began their careers dating
	back to Westinghouse and WesDyne International. Combined they have over 50 years experience in the design, development, and field implementation of <abbr title="Automated Ultrasonic Testing">AUT</abbr> of steam turbine rotorbore shafts.
	</p>
	<br/>
	<p>
	A primary vendor of <abbr title="Automated Ultrasonic Testing">AUT</abbr> data systems, <abbr title="Automated Inspection Systems, Inc.">AIS</abbr> has proven experience and knowledge to provide our customers with the properly configured data system, the engineering and technical support and the training to allow their personnel to perform their own examinations. Customers who normally purchase our Turbine Rotorbore System normally fall into 1 of 4 categories:
		<ol class='Ais-list'>
			<li>Original Equipment Manufacturers (OEMs)</li>
			<li>Turbine Maintenance and Service Shops</li>
			<li>Electric and Power Companies</li>
			<li><abbr title="Non Destructive Testing">NDT</abbr> inspection companies</li>
		</ol>
	</p>
	<br/> <!-- ********************************************************************************************** -->
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="turbineDatasystem[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="turbineSledscanner[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="turbineScanhead[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="turbineSmallhead[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="turbineCalblock[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="turbineCallegacy[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="turbineDataacq[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="turbineDataanal[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="turbineDataalgo[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="turbineDatatable[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="turbineEddycurr[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="turbineEddyfsut[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="turbineBottlebore[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="turbineComport[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<br/> <!-- ********************************************************************************************** -->
	<h5 class='Ais-header'>Summary</h5>
	<p>
	<abbr title="Automated Inspection Systems, Inc.">AIS</abbr> provides a complete turnkey Turbine Rotorbore System consisting of Data Acquisition Hardware, Scanner, Scan Controller, Advanced Data Analysis Software, Couplant Tank, Transducers and Wedges. Advantages of the <abbr title="Automated Inspection Systems, Inc.">AIS</abbr> Turbine Rotorbore System are many fold:
	<div class='Ais-list'>
		<ol>
			<li>One company provides the entire system</li>
			<li>Consumables (transducers and wedges) are priced moderately and readily available</li>
			<li>Bore head adapts for 2 to 10 inch bore diameters, bottle bore compliant, easily scan bores with multiple diameters</li>
			<li>Low Noise design incorporating onboard motor controllers, passive filters and isolation (No slip rings)</li>
			<li>Analysis tools and software complies with SAFER and WEORLE fracture mechanics format</li>
			<li>On-site customer training and support</li>
			<li><abbr title="Automated Inspection Systems, Inc.">AIS</abbr> provides support and / or an upgrade path for the life of its products</li>
		</ol>
	</div> <!-- turbine-list -->
	</p>
	<br/> <!-- ********************************************************************************************** -->
</p>
</div>