<div class='Ais-query' ng-controller='TofdmcCtrl'>
<h3 class='Ais-header'>Heavy Wall Pressure Vessel Weld Inspection</h3>
<div>
	<div class='flexbox'>
		<div class='flex1'>&nbsp;</div>
		<div class='Ais-imageF'>
			<img ng-src='{{appPathImg}}/tofdmc-vesselcans.jpg'>
			<div><strong>300 mm Vessel Cans</strong></div>
		</div>
		<div class='flex1'>&nbsp;</div>
		<div class='use4big'>
			<div ng-repeat='item in tofdmcSplash'>
				<h4 class='Ais-header' ng-bind-html="item.feature"></h4>
			</div> <!-- ng-repeat -->
		</div> <!-- use4big -->
		<div class='flex1'>&nbsp;</div>
	</div> <!-- flexbox -->
	<div class='not4big'>
		<div ng-repeat='item in tofdmcSplash'>
			<h4 class='tofdmc-header' ng-bind-html="item.feature"></h4>
		</div> <!-- ng-repeat -->
	</div> <!-- not4big -->
</div>
<br/> <!-- ********************************************************************************************** -->
<p>
	<br/>
	<br/> <!-- ********************************************************************************************** -->
	<h5 class='Ais-header'>Automated Inspection Systems Pressure Vessel Weld Inspection</h5>
	<p>
	A primary vendor of <abbr title="Automated Ultrasonic Testing">AUT</abbr> data systems, <abbr title="Automated Inspection Systems, Inc.">AIS</abbr> has proven experience and knowledge to provide our customers with the properly configured data system, the engineering and technical support and the training to allow their personnel to perform their own examinations.
	</p>
	<p>
	Our <abbr title="Automated Ultrasonic Testing">AUT</abbr> data system combines TOFD and Pulse Echo techniques to meet all of your inspection needs - heavy wall pressure vessel welds, pipe line welds, corrosion mapping and conventional pulse echo weld inspection. Connect to automated scanners, manual scanners, squirter systems, immersion tanks and factory installations. Analysis software provides channel to channel correlation and report generation. Windows 7 laptop based with a powerful 125 MHz <abbr title="Analog to Digital converter">A/D</abbr>.
	</p>
	<h5 class='Ais-header'>Heavy Wall Pressure Vessel Weld Inspection</h5>
	<p>
	The <abbr title="Automated Inspection Systems, Inc.">AIS</abbr> Weld Inspection System is based on our NB-2000MCx multichannel Automated <abbr title="Ultrasonic Testing">UT</abbr> data acquisition technology.
	</p>
	<p>
	The NB-200MCx is an elegant singular solution to ultrasonically inspect all pressure vessel welds. This full featured portable laptop based data system records, images, and provides code compliant analysis and report writing software.
	</p>
	<br/> <!-- ********************************************************************************************** -->
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="tofdmcDatasystem[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="tofdmcZones[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="tofdmcCalblock[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="tofdmcCaldata[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="tofdmcFrame[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="tofdmcHinge[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="tofdmcLogdata[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="tofdmcRtdata[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="tofdmcAnalysis[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="tofdmcReport[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<br/> <!-- ********************************************************************************************** -->
	<h5 class='Ais-header'>Summary</h5>
	<p>
	<abbr title="Automated Inspection Systems, Inc.">AIS</abbr> provides a complete turnkey Multichannel TOFD Inspection System consisting of Data Acquisition Hardware, Scanner, Scan Controller, Advanced Data Analysis Software, Couplant Tank, Transducers and Wedges. Advantages of the <abbr title="Automated Inspection Systems, Inc.">AIS</abbr> Multichannel TOFD Inspection System are many fold:
	<div class='Ais-list'>
		<ol>
			<li>One company provides the entire system</li>
			<li>Turn key integrated data system with scanner</li>
			<li>High Resolution, Band Pass Filtering, Wave Form Averaging</li>
			<li>Circ seam and long seam welds</li>
			<li>Single pass solution is quick and reliable</li>
			<li>Vessels up to 400 mm wall thickness</li>
			<li>Motorized RoboScanner</li>
			<li>Modular TOFD frame for all configurations</li>
			<li>Code Case 2235 specific analysis software</li>
			<li>Code compliant examination</li>		
			<li><abbr title="Automated Inspection Systems, Inc.">AIS</abbr> provides support and / or an upgrade path for the life of its products</li>
		</ol>
	</div> <!-- tofdmc-list -->
	</p>
	<br/> <!-- ********************************************************************************************** -->
</p>
</div>