<div class='Ais-query' ng-controller='BladesCtrl'>
<h3 class='Ais-header'>Wind Turbine Blades</h3>
<div>
	<div class='flexbox'>
		<div class='flex1'>&nbsp;</div>
		<div class='Ais-imageF'>
			<img ng-src='{{appPathImg}}/preview-windblade.jpg'>
			<div><strong>Wind Turbine Blade System</strong></div>
		</div>
		<div class='flex1'>&nbsp;</div>
		<div class='use4big'>
			<div ng-repeat='item in bladesSplash'>
				<h4 class='Ais-header' ng-bind-html="item.feature"></h4>
			</div> <!-- ng-repeat -->
		</div> <!-- use4big -->
		<div class='flex1'>&nbsp;</div>
	</div> <!-- flexbox -->
	<div class='not4big'>
		<div ng-repeat='item in bladesSplash'>
			<h4 class='Ais-header' ng-bind-html="item.feature"></h4>
		</div> <!-- ng-repeat -->
	</div> <!-- not4big -->
</div>
<br/> <!-- ********************************************************************************************** -->
<p>
	<br/>
	<br/> <!-- ********************************************************************************************** -->
	<div class='app-aispage-container app-aispage-container-left'>
		<div app-aispage aispagevalues="bladesReqs[0]"></div>
	</div>
	<div class='app-aispage-container app-aispage-container-right''>
		<div app-aispage aispagevalues="bladesDatasystem[0]"></div>
	</div>
	<br/> <!-- ********************************************************************************************** -->
	<br/> <!-- ********************************************************************************************** -->
	<h5 class='Ais-header'>Summary</h5>
	<p>
	<abbr title="Automated Inspection Systems, Inc.">AIS</abbr> provides a complete turnkey Blade Inspection System consisting of Data Acquisition Hardware, Scanner, Scan Controller, Advanced Data Analysis Software, Couplant Tank, Transducers, Bubblers and Wedges. Advantages of the <abbr title="Automated Inspection Systems, Inc.">AIS</abbr> Blade Inspection System are many fold:
	<div class='Ais-list'>
		<ol>
			<li>One company provides the entire system</li>
			<li>Turn key integrated data system with scanner</li>
			<li>High Resolution, Band Pass Filtering, Wave Form Averaging</li>
			<li>Inspect Blades of any length</li>
			<li>Motorized RoboScanner</li>
			<li>Report generating analysis software</li>
			<li><abbr title="Automated Inspection Systems, Inc.">AIS</abbr> provides support and / or an upgrade path for the life of its products</li>
		</ol>
	</div> <!-- blades-list -->
	</p>
	<br/> <!-- ********************************************************************************************** -->
</p>
</div>